:root {
  font-size: 6.25%;
  --text-color: #323238;
  --button-bg: #E1E1E6;
  --selected-button-bg: #02799D;
  --body-bg: white;
  --button-color: #323238;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
  font-size: 16rem;
  font-weight: 500;
  padding: 60rem 0;
  background: var(--body-bg);
}

.hidden {
  display: none;
}

.mode {
  justify-self: end;
  margin-right: 10%;
}

.mode__button {
  border: none;
  background: none;
  cursor: pointer;
}

.content {
  justify-self: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 821rem;
  margin: 0 auto;
}

.timer__display {
  display: flex;
  font-size: 126rem;
  color: var(--text-color);
  margin-bottom: 16rem;
}

.timer__controls {
  display: flex;
  justify-content: space-between;
}

.timer__button {
  border: none;
  background: none;
  cursor: pointer;
}

.sounds {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32rem;
}

.sounds__item {
  padding: 48rem 42rem;
  border: none;
  border-radius: 24rem;
  background: var(--button-bg);
  cursor: pointer;
}

.sounds__item.playing {
  background: var(--selected-button-bg);
}

.sounds__item.playing path {
  fill: white;
}

@media (max-width: 768px) {
  body {
    padding: 30rem 0;
  }

  .mode {
    margin-bottom: 30rem;
  }

  .content {
    flex-direction: column;
    justify-content: center;
    gap: 48rem;
  }
}